@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-po: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply font-po;
    }

    p {
        @apply font-po;
    }
}